<nav class="navbar navbar-default no-margin">
   <!-- Brand and toggle get grouped for better mobile display -->
               <div class="navbar-header fixed-brand">
                   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"  id="menu-toggle">
                     <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                   </button>
                   <%= link_to 'Papelaria', root_path, class: 'navbar-brand'  %><i class="fa fa-rocket fa-4"></i> 
               </div>
               <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                   <ul class="nav navbar-nav">
                       <li class="active" ><button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button></li>
                   </ul>
                   <ul class="nav navbar-nav">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Login</a></li>
                          <li class="divider"></li>
                          <li><%= link_to 'Users', users_path %></li>
                        </ul>
                      </li>
                    </ul>

               </div>
   </nav>