        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
 
                <li class="active">
                    <%= link_to 'Clients', clients_path %><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span></a>
                       <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                        <li><%= link_to 'New Client', new_client_path %></li>
                    </ul>
                </li>
                <li>
                    <%= link_to 'Products', products_path %><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>
                    <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                        <li><%= link_to 'New Product', new_product_path %><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span></li>
                        <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>link2</a></li>
 
                    </ul>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cloud-download fa-stack-1x "></i></span>Overview</a>
                </li>
                <li>
                    <a href="#"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-cart-plus fa-stack-1x "></i></span>Events</a>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-youtube-play fa-stack-1x "></i></span>About</a>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-wrench fa-stack-1x "></i></span>Services</a>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-server fa-stack-1x "></i></span>Contact</a>
                </li>
            </ul>
        </div>
